
.product-card {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background: var(--card-bg);
    height: 380px !important;
    width: 250px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative; 
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    background-color: aliceblue;
    width: 100%;
    min-height: 150px;
    object-fit: contain;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.product-info {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.product-info h3 {
    font-size: 1.2rem;
    font-weight: 800;
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 0 20px;
}

.category-tag {
    position: absolute;     
    top: 12px;
    left: 12px;
    font-size: 0.65rem;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    background-color: rgba(255, 166, 0, 0.5);
    border: 1px solid rgba(255, 170, 0, 1);
    padding: 3px 8px;
    border-radius: 12px;
    letter-spacing: 0.1px;
    z-index: 10;
    cursor:pointer;
}

.category-tag:hover {
    background-color: rgba(255, 166, 0, 0.8);
    color: black;
}

.product-info .product-price {
    font-size: 1.1rem;
    color: var(--text-color);
    background-color: rgba(255, 166, 0, 0.3);
    border: 2px solid rgba(255, 166, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 2px 6px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.product-info .product-price:hover {
    background-color: rgba(255, 168, 0, 0.5);
}

.product-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.product-rating .rating-value {
    font-size: 0.85rem;
    color: var(--text-color);
}

.detail-btn {
    font-size: 0.85rem;
    font-weight: 600;
    transition: all 0.3s ease;
}


.detail-btn:hover {
    text-decoration: underline;
    transform: translateY(-2px);
}