.product-detail {
    max-width: 1100px;
    margin: 60px auto;
    padding: 20px;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
}

.product-info img {
    width: 500px;
    height: 500px;
    border-radius: 16px;
    object-fit: contain;
    background: #c6c6c6 ;
    padding: 15px;
}

.product-info .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.product-info h1 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.product-info .desc {
    color: var(--text-primary)!important;
    margin-bottom: 15px;
}

.price-section p {
    font-size: 16px;
    color: #dddddd;
}

.buy-btn {
    background: #135bec;
    color: #fff;
    border: none;
    width: fit-content;
    margin-top: 20px;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.buy-btn:hover {
    background: #0f4bb3;
}

.review-section {
    border-top: 1px solid #eee;
    padding-top: 30px;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.review-form input,
.review-form textarea {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    outline: none;
}

.review-form input:focus,
.review-form textarea:focus {
    border-color: #135bec;
}

.star-rating {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.submit-btn {
    background: #135bec;
    color: white;
    border: none;
    border-radius: 6px;
    width: fit-content;
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
}

.submit-btn:hover {
    background: #0f4bb3;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-card {
    background: var(--bg-secondary);
    border-radius: 10px;
    padding: 15px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-comment {
    margin: 8px 0;
    color: var(--text-secondary);
}
